{% extends 'base.html'%}
{% load static%}

{% block childpage %}
<!-- Heading -->
 <div class="row heading">
  <div class="col-sm-6 mx-auto text-light fs-2 py-4 text-center">
          Image <b class="text-color1"> Gallery</b>
  </div>
 </div>
<!-- end heading-->
          <!-- gallery -->
             <div class="row py-5 bg-color2">
                 <div class="col-sm-10 mx-auto">
                 <div class="row">
                  <div class="col-sm-12 fs-2 text-color2">Image <b class="text-light">Gallery</b></div>
                  <hr class="w-25"/>
                </div>
            <div class="row">
              {% for x in rows %}
             <!--gallery box start-->
             
             <div class="col-sm-3">
              <div class="bg-light shadow-lg p-1">
             <img src="/{{x.picture}}" class="img-thumbnail"/>
              <b class="text-center p-2 d-block">{{x.title}}</b>
             </div>
             </div>
               <!--gallery box end-->
               {% endfor %}
            </div>
            </div>
            </div>
            <!--end gallery-->
{% endblock %}